

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <body>
    <main>
      <div class="container py-4">
        <div class="p-2 mb-4 bg-light border rounded-3">
          <div class="container-fluid py-4">

          <h2>Edit <%= resource_name.to_s.humanize %></h2>

            <div class="form-label">
              <%= f.label :email %><br />
              <%= f.email_field :email, class:"form-control", placeholder:"andy@example.com", autocomplete: "email" %>
              <div id="emailHelp" class="form-text"> We will never share your email with anyone else.</div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <br />
      
            <div class="form-label">
              <%= f.label :password %> <i>(leave blank if you do not want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
              <% if @minimum_password_length %>
                <div id="passwordHelp" class="form-text"><%= @minimum_password_length %> characters minimum</div>
              <% end %>
            </div>

      
            <div class="field form-label">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
      
            <div class="form-label">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control"%>
            </div>
            </br>
            <div>
              <%= f.submit class:'btn btn-secondary' %>
            </div>
          </div>
          
        </div>
      </div>
    </main>
  </body>
<% end %>

<div class="container py-1">
  <div class="p-2 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">

      <h2>Cancel my account</h2>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'btn btn-secondary' %></div>

    </div> 
  </div>
</div>
<%= link_to "Back", :back, class:'btn btn-secondary'%>

