<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <body>
    <main>
      <div class="container py-4">
        <div class="p-2 mb-4 bg-light border rounded-3">
          <div class="container-fluid py-5">
            <div class="form-label">
              <%= form.text_field :title, class:"form-control", placeholder:"Game Title" %>
            </div>
      
            <div class="form-label">
              <%= form.text_field :description, class:"form-control", placeholder:"Game Description" %>
            </div>
      
            <div class="field form-label">
              <%= form.text_field :players, class:"form-control", placeholder:"Number of Players" %>
            </div>
      
            <div class="form-label">
              <%= form.text_field :year, class:"form-control", placeholder:"Year of Release" %>
            </div>
            <div class="form-label">
              <%= form.number_field :user_id, id: :game_user_id, class:"form-control", value: current_user.id, type: :hidden %>
            </div>
            </br>
            <div>
              <%= form.submit class:'btn btn-secondary' %>
            </div>
          </div>
          
        </div>
      </div>
    </main>
  </body>
<% end %>
