<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit", edit_game_path(@game), class: "btn btn-outline-secondary"%>
  <%= link_to "Back", games_path, class: "btn btn-outline-secondary"%>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
